<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JavascriptCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2908BB51DEAC8C2003182C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2908BCE1DEAC8C2003182C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2908BD91DEAC8C2003182C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
